### VisualStudioCode ###
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### PYCHARM ###
.idea/*

### VIRTUAL ENVIRONMENT PYTHON ###
venv/
